In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
charity_df = pd.read_csv('charity_data.csv')
charity_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
charity_df.shape

(34299, 12)

In [3]:
charity_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [4]:
# Merge the two DataFrames together and drop the Country column
charity_df = charity_df.drop("EIN",1)
charity_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [5]:
# Generate our categorical variable list
charity_cat = charity_df.dtypes[charity_df.dtypes == "object"].index.tolist()

In [6]:
# Check the number of unique values in each column
charity_df[charity_cat].nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
dtype: int64

In [7]:
# Check the unique value counts to see if binning is require
name_counts = charity_df.NAME.value_counts()
name_counts.head(50)

PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                        408
PTA TEXAS CONGRESS                                                     368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                          331
ALPHA PHI SIGMA                                                        313
TOASTMASTERS INTERNATIONAL                                             293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                      287
LITTLE LEAGUE BASEBALL INC                                             277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                               266
MOMS CLUB                                                              210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION     206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                               197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                   166
KNIGHTS OF COLUMBUS                                                    158
HABITAT FOR HUMANITY INTERNATIONAL INC                                 154
TENNESSEE ORDER OF THE EASTERN STAR                                    151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                144
PTA UTAH CONGRESS                                                      140
THE UNITED STATES PONY CLUBS INC                                       136
CIVITAN INTERNATIONAL                                                  131
SIGMA BETA DELTA INC                                                   127
MONTANA 4-H FOUNDATION INC                                             107
HONOR SOCIETY OF PHI KAPPA PHI                                         107
WASHINGTON STATE GRANGE                                                106
UNIVERSITY OF WYOMING                                                  105
DEMOLAY INTERNATIONAL                                                  104
SERTOMA INC                                                            103
AIR FORCE ASSOCIATION                                                   99
WORKERS UNITED                                                          97
GAMMA THETA UPSILON                                                     92
INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS                              91
SOCIETY OF SAINT VINCENT DE PAUL COUNCIL OF LOS ANGELES                 87
ROTARY INTERNATIONAL                                                    84
CALIFORNIA GARDEN CLUBS INC                                             76
SWEET ADELINES INTERNATIONAL                                            73
DISABLED AMERICAN VETERANS                                              73
KLEIN SUPPORT GROUPS INC                                                69
CLEARCREEK I S D SUPPORT GROUPS                                         60
VFW AUXILIARY DEPARTMENT OF OKLAHOMA INC                                58
DEPARTMENT OF KANSAS LADIES AUXILIARY TO THE VFW OF THE US INC          57
CISD EDUCATIONAL SUPPORT GROUPS INC                                     57
SONS OF CONFEDERATE VETERANS INC                                        56
SLOW FOOD USA INC                                                       55
NATIONAL YOUNG MENS SERVICE LEAGUE                                      54
LAMBDA THETA ALPHA                                                      52
AMATEUR ATHLETIC UNION OF THE UNITED STATES                             52
UNIVERSITY OF FLORIDA                                                   50
Name: NAME, dtype: int64

In [8]:
# Determine which values to replace
replace_name = list(name_counts[name_counts < 100].index)

# Replace in DataFrame
for name in replace_name:
    charity_df.NAME = charity_df.NAME.replace(name,"Other")


# Check to make sure binning was successful
charity_df.NAME.value_counts()

Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
MONTANA 4-H FOUNDATION INC                                              107
HONOR SOCIETY OF PHI KAPPA PHI                                          107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: NAME, dtype: int64

In [9]:
# Check the unique value counts to see if binning is require
class_counts = charity_df.CLASSIFICATION.value_counts()
class_counts.head(50)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C0           3
C2710        3
C1260        3
C1246        2
C1234        2
C1256        2
C1267        2
C3200        2
C4500        1
C2170        1
C4120        1
C2380        1
C1900        1
Name: CLASSIFICATION, dtype: int64

In [10]:
# Determine which values to replace
replace_class = list(class_counts[class_counts < 120].index)

# Replace in DataFrame
for classs in replace_class:
    charity_df.CLASSIFICATION = charity_df.CLASSIFICATION.replace(classs,"Other")


# Check to make sure binning was successful
charity_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1003
C7000      777
C1700      287
C4000      194
Name: CLASSIFICATION, dtype: int64

In [11]:
# Check the unique value counts to see if binning is require
app_counts = charity_df.APPLICATION_TYPE.value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [12]:

# Determine which values to replace
replace_app = list(app_counts[app_counts < 500].index)

# Replace in DataFrame
for app in replace_app:
    charity_df.APPLICATION_TYPE = charity_df.APPLICATION_TYPE.replace(app,"Other")


# Check to make sure binning was successful
charity_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [13]:
charity_df.head(50)

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,Other,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,Other,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,Other,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,Other,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,Other,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,Other,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,Other,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,Other,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,Other,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,Other,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
10,Other,T3,Independent,C1200,Preservation,Trust,1,25000-99999,N,69656,0
11,Other,T3,Independent,C2000,Preservation,Trust,1,100000-499999,N,165593,0
12,THE UNITED STATES PONY CLUBS INC,T3,CompanySponsored,C1200,Preservation,Association,1,0,N,5000,1
13,Other,T3,Independent,Other,Preservation,Trust,1,25000-99999,N,5301,1
14,Other,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,1
15,Other,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
16,Other,T3,Independent,C2000,Preservation,Trust,1,0,N,5000,1
17,Other,T3,Independent,C1000,Heathcare,Trust,1,50M+,N,86380556,0
18,Other,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,0
19,HABITAT FOR HUMANITY INTERNATIONAL INC,T3,CompanySponsored,C1000,Preservation,Trust,1,100000-499999,N,376109,0
20,Other,T4,Independent,C3000,ProductDev,Trust,1,0,N,5000,1
21,Other,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
22,Other,T3,Independent,C7000,Preservation,Trust,1,100000-499999,N,318296,0
23,Other,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
24,Other,T3,CompanySponsored,C1200,Preservation,Trust,1,0,N,5000,0
25,Other,T4,Independent,C3000,ProductDev,Trust,1,0,N,5000,1
26,Other,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,1
27,Other,T3,CompanySponsored,C2000,Preservation,Trust,1,25000-99999,N,44004,1
28,Other,T3,CompanySponsored,C2000,Preservation,Trust,1,0,N,5000,0
29,Other,T6,Independent,C2000,ProductDev,Trust,1,0,N,5000,1
30,Other,T6,Independent,C2000,ProductDev,Trust,1,100000-499999,N,323466,1
31,Other,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
32,Other,T7,Independent,C1000,ProductDev,Trust,1,0,N,5000,1
33,Other,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,1
34,Other,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,0
35,Other,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,0
36,Other,T4,Independent,C1000,ProductDev,Trust,1,0,N,5000,1
37,Other,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,1
38,Other,T7,Independent,C1000,ProductDev,Association,1,0,N,5000,0
39,Other,T3,Independent,C1000,Preservation,Trust,1,25000-99999,N,5000,1
40,Other,T3,Independent,C1000,Preservation,Trust,1,25000-99999,N,709815,0
41,Other,Other,Independent,C1000,ProductDev,Trust,1,25000-99999,N,1329410,0
42,Other,T7,Independent,C1000,ProductDev,Trust,1,0,N,5000,1
43,HABITAT FOR HUMANITY INTERNATIONAL INC,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,0
44,Other,T3,Independent,Other,Preservation,Trust,1,0,N,5000,1
45,Other,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,1
46,PTA TEXAS CONGRESS,T3,CompanySponsored,C2000,Preservation,Trust,1,0,N,5000,0
47,Other,T7,Independent,C1000,ProductDev,Trust,1,0,N,5000,0
48,Other,T3,Independent,C1700,Preservation,Trust,1,0,N,5000,1
49,Other,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,0

In [14]:
# Create the OneHotEncoder instance
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)

# Fit the encoder and produce encoded DataFrame
encode_df = pd.DataFrame(enc.fit_transform(charity_df.NAME.values.reshape(-1,1)))

# Rename encoded columns
encode_df.columns = enc.get_feature_names(['NAME'])
encode_df.head()

,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,NAME_HONOR SOCIETY OF PHI KAPPA PHI,NAME_INTERNATIONAL ASSOCIATION OF LIONS CLUBS,NAME_INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION,...,NAME_SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC,NAME_TENNESSEE ORDER OF THE EASTERN STAR,NAME_THE UNITED STATES PONY CLUBS INC,NAME_TOASTMASTERS INTERNATIONAL,NAME_TOPS CLUB INC,NAME_UNITED STATES BOWLING CONGRESS INC,NAME_UNIVERSITY OF WYOMING,NAME_VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY,NAME_WASHINGTON STATE GRANGE,NAME_WASHINGTON STATE UNIVERSITY
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
# Fit the encoder and produce encoded DataFrame
encode2_df = pd.DataFrame(enc.fit_transform(charity_df.CLASSIFICATION.values.reshape(-1,1)))

# Rename encoded columns
encode2_df.columns = enc.get_feature_names(['CLASSIFICATION'])
encode2_df.head()

,CLASSIFICATION_C1000,CLASSIFICATION_C1200,CLASSIFICATION_C1700,CLASSIFICATION_C2000,CLASSIFICATION_C2100,CLASSIFICATION_C3000,CLASSIFICATION_C4000,CLASSIFICATION_C7000,CLASSIFICATION_Other
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
# Fit the encoder and produce encoded DataFrame
encode3_df = pd.DataFrame(enc.fit_transform(charity_df.APPLICATION_TYPE.values.reshape(-1,1)))

# Rename encoded columns
encode3_df.columns = enc.get_feature_names(['APPLICATION_TYPE'])
encode3_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [17]:
# Check the unique value counts to see if binning is require
income_counts = charity_df.INCOME_AMT.value_counts()
income_counts

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [18]:
charity_df.loc[charity_df['INCOME_AMT'] == '0', 'income'] = '1'  
charity_df.loc[charity_df['INCOME_AMT'] == '100000-499999', 'income'] = '499999'  
charity_df.loc[charity_df['INCOME_AMT'] == '25000-99999', 'income'] = '99999'
charity_df.loc[charity_df['INCOME_AMT'] == '1M-5M', 'income'] = '4999999'
charity_df.loc[charity_df['INCOME_AMT'] == '1-9999', 'income'] = '9999'
charity_df.loc[charity_df['INCOME_AMT'] == '10000-24999', 'income'] = '24999'
charity_df.loc[charity_df['INCOME_AMT'] == '10M-50M', 'income'] = '49999999'
charity_df.loc[charity_df['INCOME_AMT'] == '5M-10M', 'income'] = '999999'
charity_df.loc[charity_df['INCOME_AMT'] == '50M+', 'income'] = '499999999'
charity_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,income
0,Other,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1,1
1,Other,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1,9999
2,Other,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0,1
3,Other,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1,24999
4,Other,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1,499999
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,Other,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0,1
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0,1
34296,Other,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0,1
34297,Other,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1,1
34298,Other,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0,4999999

In [19]:
charity_df['income'] = charity_df['income'].astype(int)

In [20]:
# Merge the two DataFrames together and drop the Country column
charity2 = charity_df.merge(encode_df,left_index=True,right_index=True).drop("NAME",1)

In [21]:
# Merge the two DataFrames together and drop the Country column
charity3 = charity2.merge(encode2_df,left_index=True,right_index=True).drop("CLASSIFICATION",1)
charity3

,APPLICATION_TYPE,AFFILIATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,income,...,NAME_WASHINGTON STATE UNIVERSITY,CLASSIFICATION_C1000,CLASSIFICATION_C1200,CLASSIFICATION_C1700,CLASSIFICATION_C2000,CLASSIFICATION_C2100,CLASSIFICATION_C3000,CLASSIFICATION_C4000,CLASSIFICATION_C7000,CLASSIFICATION_Other
0,T10,Independent,ProductDev,Association,1,0,N,5000,1,1,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,T3,Independent,Preservation,Co-operative,1,1-9999,N,108590,1,9999,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,T5,CompanySponsored,ProductDev,Association,1,0,N,5000,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,T3,CompanySponsored,Preservation,Trust,1,10000-24999,N,6692,1,24999,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,T3,Independent,Heathcare,Trust,1,100000-499999,N,142590,1,499999,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,ProductDev,Association,1,0,N,5000,0,1,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34295,T4,CompanySponsored,ProductDev,Association,1,0,N,5000,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
34296,T3,CompanySponsored,Preservation,Association,1,0,N,5000,0,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
34297,T5,Independent,ProductDev,Association,1,0,N,5000,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
34298,T3,Independent,Preservation,Co-operative,1,1M-5M,N,36500179,0,4999999,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
# Merge the two DataFrames together and drop the Country column
charity4 = charity3.merge(encode3_df,left_index=True,right_index=True).drop("APPLICATION_TYPE",1)
charity4

,AFFILIATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,income,NAME_ALPHA PHI SIGMA,...,CLASSIFICATION_Other,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8
0,Independent,ProductDev,Association,1,0,N,5000,1,1,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Independent,Preservation,Co-operative,1,1-9999,N,108590,1,9999,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,CompanySponsored,ProductDev,Association,1,0,N,5000,0,1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,CompanySponsored,Preservation,Trust,1,10000-24999,N,6692,1,24999,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,Independent,Heathcare,Trust,1,100000-499999,N,142590,1,499999,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,Independent,ProductDev,Association,1,0,N,5000,0,1,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
34295,CompanySponsored,ProductDev,Association,1,0,N,5000,0,1,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
34296,CompanySponsored,Preservation,Association,1,0,N,5000,0,1,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
34297,Independent,ProductDev,Association,1,0,N,5000,1,1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
34298,Independent,Preservation,Co-operative,1,1M-5M,N,36500179,0,4999999,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [23]:
# Merge the two DataFrames together and drop the Country column
charity5 = charity4.drop("INCOME_AMT",1)
charity5

,AFFILIATION,USE_CASE,ORGANIZATION,STATUS,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,income,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,...,CLASSIFICATION_Other,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8
0,Independent,ProductDev,Association,1,N,5000,1,1,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Independent,Preservation,Co-operative,1,N,108590,1,9999,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,CompanySponsored,ProductDev,Association,1,N,5000,0,1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,CompanySponsored,Preservation,Trust,1,N,6692,1,24999,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,Independent,Heathcare,Trust,1,N,142590,1,499999,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,Independent,ProductDev,Association,1,N,5000,0,1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
34295,CompanySponsored,ProductDev,Association,1,N,5000,0,1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
34296,CompanySponsored,Preservation,Association,1,N,5000,0,1,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
34297,Independent,ProductDev,Association,1,N,5000,1,1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
34298,Independent,Preservation,Co-operative,1,N,36500179,0,4999999,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [24]:
# Fit the encoder and produce encoded DataFrame
encode4_df = pd.DataFrame(enc.fit_transform(charity_df.AFFILIATION.values.reshape(-1,1)))

# Rename encoded columns
encode4_df.columns = enc.get_feature_names(['AFFILIATION'])
encode4_df.head()

,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional
0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0

In [25]:
# Fit the encoder and produce encoded DataFrame
encode5_df = pd.DataFrame(enc.fit_transform(charity_df.USE_CASE.values.reshape(-1,1)))

# Rename encoded columns
encode5_df.columns = enc.get_feature_names(['USE_CASE'])
encode5_df.head()

,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev
0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,1.0,0.0
4,0.0,1.0,0.0,0.0,0.0

In [26]:
# Fit the encoder and produce encoded DataFrame
encode6_df = pd.DataFrame(enc.fit_transform(charity_df.ORGANIZATION.values.reshape(-1,1)))

# Rename encoded columns
encode6_df.columns = enc.get_feature_names(['ORGANIZATION'])
encode6_df.head()

,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust
0,1.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0
2,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,1.0

In [27]:
# Fit the encoder and produce encoded DataFrame
encode7_df = pd.DataFrame(enc.fit_transform(charity_df.SPECIAL_CONSIDERATIONS .values.reshape(-1,1)))

# Rename encoded columns
encode7_df.columns = enc.get_feature_names(['SPECIAL_CONSIDERATIONS'])
encode7_df.head()

   SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0                       1.0                       0.0
1                       1.0                       0.0
2                       1.0                       0.0
3                       1.0                       0.0
4                       1.0                       0.0

In [39]:
# Merge the two DataFrames together and drop the Country column
charity6 = charity5.merge(encode4_df,left_index=True,right_index=True).drop("AFFILIATION",1)
charity6

,USE_CASE,ORGANIZATION,STATUS,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,income,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,...,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional
0,ProductDev,Association,1,N,5000,1,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,Preservation,Co-operative,1,N,108590,1,9999,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,ProductDev,Association,1,N,5000,0,1,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,Preservation,Trust,1,N,6692,1,24999,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,Heathcare,Trust,1,N,142590,1,499999,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,ProductDev,Association,1,N,5000,0,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
34295,ProductDev,Association,1,N,5000,0,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
34296,Preservation,Association,1,N,5000,0,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
34297,ProductDev,Association,1,N,5000,1,1,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
34298,Preservation,Co-operative,1,N,36500179,0,4999999,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [40]:
# Merge the two DataFrames together and drop the Country column
charity7 = charity6.merge(encode5_df,left_index=True,right_index=True).drop("USE_CASE",1)
charity7

,ORGANIZATION,STATUS,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,income,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,...,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev
0,Association,1,N,5000,1,1,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,Co-operative,1,N,108590,1,9999,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,Association,1,N,5000,0,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,Trust,1,N,6692,1,24999,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,Trust,1,N,142590,1,499999,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,Association,1,N,5000,0,1,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
34295,Association,1,N,5000,0,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
34296,Association,1,N,5000,0,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,Association,1,N,5000,1,1,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
34298,Co-operative,1,N,36500179,0,4999999,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [41]:
# Merge the two DataFrames together and drop the Country column
charity8 = charity7.merge(encode6_df,left_index=True,right_index=True).drop("ORGANIZATION",1)
charity8

,STATUS,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,income,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,...,AFFILIATION_Regional,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust
0,1,N,5000,1,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,1,N,108590,1,9999,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,1,N,5000,0,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3,1,N,6692,1,24999,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,1,N,142590,1,499999,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,N,5000,0,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
34295,1,N,5000,0,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
34296,1,N,5000,0,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
34297,1,N,5000,1,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
34298,1,N,36500179,0,4999999,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [42]:
# Merge the two DataFrames together and drop the Country column
charity_cleaned = charity8.merge(encode7_df,left_index=True,right_index=True).drop("SPECIAL_CONSIDERATIONS",1)
charity_cleaned

,STATUS,ASK_AMT,IS_SUCCESSFUL,income,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,...,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,9999,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,1,5000,0,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,24999,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,1,142590,1,499999,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,4999999,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [43]:
charity_cleaned.dtypes

STATUS                         int64
ASK_AMT                        int64
IS_SUCCESSFUL                  int64
income                         int64
NAME_ALPHA PHI SIGMA         float64
                              ...
ORGANIZATION_Co-operative    float64
ORGANIZATION_Corporation     float64
ORGANIZATION_Trust           float64
SPECIAL_CONSIDERATIONS_N     float64
SPECIAL_CONSIDERATIONS_Y     float64
Length: 70, dtype: object

In [44]:
# Fit the encoder and produce encoded DataFrame
encode8_df = pd.DataFrame(enc.fit_transform(charity_df.IS_SUCCESSFUL .values.reshape(-1,1)))

# Rename encoded columns
encode8_df.columns = enc.get_feature_names(['IS_SUCCESSFUL'])
encode8_df.head()

   IS_SUCCESSFUL_0  IS_SUCCESSFUL_1
0              0.0              1.0
1              0.0              1.0
2              1.0              0.0
3              0.0              1.0
4              0.0              1.0

In [45]:
# Merge the two DataFrames together and drop the Country column
attrition_df = charity_cleaned.merge(encode8_df,left_index=True,right_index=True).drop("IS_SUCCESSFUL",1)
attrition_df

,STATUS,ASK_AMT,income,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,...,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,IS_SUCCESSFUL_0,IS_SUCCESSFUL_1
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,1,108590,9999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
2,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,1,6692,24999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
4,1,142590,499999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
34295,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
34296,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
34298,1,36500179,4999999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0

In [46]:
charity_df.columns

Index(['NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL', 'income'],
      dtype='object')

In [47]:
attrition_df.columns

Index(['STATUS', 'ASK_AMT', 'income', 'NAME_ALPHA PHI SIGMA',
       'NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC',
       'NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN',
       'NAME_CIVITAN INTERNATIONAL', 'NAME_DEMOLAY INTERNATIONAL',
       'NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA',
       'NAME_HABITAT FOR HUMANITY INTERNATIONAL INC',
       'NAME_HONOR SOCIETY OF PHI KAPPA PHI',
       'NAME_INTERNATIONAL ASSOCIATION OF LIONS CLUBS',
       'NAME_INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION',
       'NAME_KNIGHTS OF COLUMBUS', 'NAME_LITTLE LEAGUE BASEBALL INC',
       'NAME_MOMS CLUB', 'NAME_MONTANA 4-H FOUNDATION INC',
       'NAME_MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS', 'NAME_Other',
       'NAME_PARENT BOOSTER USA INC', 'NAME_PTA TEXAS CONGRESS',
       'NAME_PTA UTAH CONGRESS', 'NAME_SERTOMA INC',
       'NAME_SIGMA BETA DELTA INC',
       'NAME_SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC',
       'NAME_TENNESSEE ORDER OF THE EASTERN STAR',
       'NAME_THE UNITED STATES PONY CLUBS INC',
       'NAME_TOASTMASTERS INTERNATIONAL', 'NAME_TOPS CLUB INC',
       'NAME_UNITED STATES BOWLING CONGRESS INC', 'NAME_UNIVERSITY OF WYOMING',
       'NAME_VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY',
       'NAME_WASHINGTON STATE GRANGE', 'NAME_WASHINGTON STATE UNIVERSITY',
       'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200', 'CLASSIFICATION_C1700',
       'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000',
       'CLASSIFICATION_C4000', 'CLASSIFICATION_C7000', 'CLASSIFICATION_Other',
       'APPLICATION_TYPE_Other', 'APPLICATION_TYPE_T10',
       'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3', 'APPLICATION_TYPE_T4',
       'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6', 'APPLICATION_TYPE_T7',
       'APPLICATION_TYPE_T8', 'AFFILIATION_CompanySponsored',
       'AFFILIATION_Family/Parent', 'AFFILIATION_Independent',
       'AFFILIATION_National', 'AFFILIATION_Other', 'AFFILIATION_Regional',
       'USE_CASE_CommunityServ', 'USE_CASE_Heathcare', 'USE_CASE_Other',
       'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'ORGANIZATION_Association', 'ORGANIZATION_Co-operative',
       'ORGANIZATION_Corporation', 'ORGANIZATION_Trust',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y',
       'IS_SUCCESSFUL_0', 'IS_SUCCESSFUL_1'],
      dtype='object')

In [48]:
# Split our preprocessed data into our features and target arrays
y = attrition_df["IS_SUCCESSFUL_1"].values
X = attrition_df.drop(["IS_SUCCESSFUL_0","IS_SUCCESSFUL_1"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [49]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [50]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  5
#hidden_nodes_layer2 = 5
#hidden_nodes_layer3 = 3

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="sigmoid"))

# Second hidden layer
#nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# third hidden layer
#nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 5)                 350
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 6
=================================================================
Total params: 356
Trainable params: 356
Non-trainable params: 0
_________________________________________________________________

In [51]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [52]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=50)

Train on 25724 samples
Epoch 1/50
25724/25724 [==============================] - 2s 79us/sample - loss: 0.6933 - accuracy: 0.5199
Epoch 2/50
25724/25724 [==============================] - 1s 49us/sample - loss: 0.6903 - accuracy: 0.5316
Epoch 3/50
25724/25724 [==============================] - 1s 48us/sample - loss: 0.6903 - accuracy: 0.5307
Epoch 4/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.6905 - accuracy: 0.5309
Epoch 5/50
25724/25724 [==============================] - 1s 48us/sample - loss: 0.6905 - accuracy: 0.5321
Epoch 6/50
25724/25724 [==============================] - 1s 48us/sample - loss: 0.6904 - accuracy: 0.5321
Epoch 7/50
25724/25724 [==============================] - 1s 48us/sample - loss: 0.6903 - accuracy: 0.5321s - loss:
Epoch 8/50
25724/25724 [==============================] - 1s 48us/sample - loss: 0.6901 - accuracy: 0.5321s - los
Epoch 9/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.6902 - accuracy: 0.5321
Epoch 10/50
25724/25724 [==============================] - 1s 48us/sample - loss: 0.6901 - accuracy: 0.5321
Epoch 11/50
25724/25724 [==============================] - 1s 48us/sample - loss: 0.6902 - accuracy: 0.5321
Epoch 12/50
25724/25724 [==============================] - 1s 48us/sample - loss: 0.6902 - accuracy: 0.5321
Epoch 13/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.6902 - accuracy: 0.5321
Epoch 14/50
25724/25724 [==============================] - 1s 55us/sample - loss: 0.6901 - accuracy: 0.5321
Epoch 15/50
25724/25724 [==============================] - 1s 58us/sample - loss: 0.6902 - accuracy: 0.5321
Epoch 16/50
25724/25724 [==============================] - 1s 55us/sample - loss: 0.6901 - accuracy: 0.5321
Epoch 17/50
25724/25724 [==============================] - 1s 58us/sample - loss: 0.6901 - accuracy: 0.5321
Epoch 18/50
25724/25724 [==============================] - 1s 56us/sample - loss: 0.6901 - accuracy: 0.5321
Epoch 19/50
25724/25724 [==============================] - 1s 55us/sample - loss: 0.6901 - accuracy: 0.5321
Epoch 20/50
25724/25724 [==============================] - 1s 54us/sample - loss: 0.6900 - accuracy: 0.5321
Epoch 21/50
25724/25724 [==============================] - 1s 52us/sample - loss: 0.6901 - accuracy: 0.5321
Epoch 22/50
25724/25724 [==============================] - 1s 52us/sample - loss: 0.6900 - accuracy: 0.5321
Epoch 23/50
25724/25724 [==============================] - 1s 50us/sample - loss: 0.6900 - accuracy: 0.5321
Epoch 24/50
25724/25724 [==============================] - 1s 49us/sample - loss: 0.6899 - accuracy: 0.5321
Epoch 25/50
25724/25724 [==============================] - 1s 50us/sample - loss: 0.6899 - accuracy: 0.5321
Epoch 26/50
25724/25724 [==============================] - 1s 50us/sample - loss: 0.6899 - accuracy: 0.5321
Epoch 27/50
25724/25724 [==============================] - 1s 52us/sample - loss: 0.6899 - accuracy: 0.5321
Epoch 28/50
25724/25724 [==============================] - 1s 48us/sample - loss: 0.6899 - accuracy: 0.5321
Epoch 29/50
25724/25724 [==============================] - 1s 49us/sample - loss: 0.6899 - accuracy: 0.5321
Epoch 30/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.6899 - accuracy: 0.5321
Epoch 31/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.6899 - accuracy: 0.5321
Epoch 32/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6899 - accuracy: 0.5321
Epoch 33/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.6899 - accuracy: 0.5321
Epoch 34/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6899 - accuracy: 0.5321
Epoch 35/50
25724/25724 [==============================] - 1s 48us/sample - loss: 0.6898 - accuracy: 0.5321
Epoch 36/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.6898 - accuracy: 0.5321
Epoch 37/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6899 - accuracy: 0.5321
Epoch 38/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6899 - accuracy: 0.5321
Epoch 39/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6898 - accuracy: 0.5321
Epoch 40/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.6899 - accuracy: 0.5321
Epoch 41/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.6899 - accuracy: 0.5321
Epoch 42/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6898 - accuracy: 0.5321
Epoch 43/50
25724/25724 [==============================] - 1s 48us/sample - loss: 0.6898 - accuracy: 0.5321
Epoch 44/50
25724/25724 [==============================] - 1s 51us/sample - loss: 0.6899 - accuracy: 0.5321
Epoch 45/50
25724/25724 [==============================] - 1s 54us/sample - loss: 0.6899 - accuracy: 0.5321
Epoch 46/50
25724/25724 [==============================] - 2s 61us/sample - loss: 0.6899 - accuracy: 0.5321
Epoch 47/50
25724/25724 [==============================] - 1s 54us/sample - loss: 0.6898 - accuracy: 0.5321
Epoch 48/50
25724/25724 [==============================] - 1s 53us/sample - loss: 0.6899 - accuracy: 0.5321
Epoch 49/50
25724/25724 [==============================] - 1s 53us/sample - loss: 0.6898 - accuracy: 0.5321
Epoch 50/50
25724/25724 [==============================] - 1s 50us/sample - loss: 0.6898 - accuracy: 0.5321

In [53]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 0s - loss: 0.6704 - accuracy: 0.5332
Loss: 0.6896264705644057, Accuracy: 0.5331778526306152

relu

1 = 8
2 = 5
8575/1 - 0s - loss: 185.8356 - accuracy: 0.5332
Loss: 370.9821101063264, Accuracy: 0.5331778526306152

relu

1 = 8
2 = 5
3 = 3

8575/1 - 0s - loss: 2.5732 - accuracy: 0.5332
Loss: 4.45749590303738, Accuracy: 0.5331778526306152

relu 

1 = 5

8575/1 - 0s - loss: 0.6899 - accuracy: 0.5332
Loss: 0.6909517974895222, Accuracy: 0.5331778526306152

sigmoid

1 = 5

8575/1 - 1s - loss: 0.6898 - accuracy: 0.5336
Loss: 0.6908095782491278, Accuracy: 0.5336443185806274

sigmoid 

1 = 5 

8575/1 - 0s - loss: 0.6704 - accuracy: 0.5332
Loss: 0.6896264705644057, Accuracy: 0.5331778526306152